###################### General Setup ######################
APP_CODE_PATH_HOST=E:/workspace
APP_CODE_PATH_CONTAINER=/var/www

DOCKER_USER=linyiyong

DATA_PATH_HOST=D:/SData/dockdata

HOSTIP=172.16.13.76

### PHP7.1-fpm ########################################

PHP71_FPM_INSTALL_XDEBUG=true
PHP71_FPM_INSTALL_SWOOLE=false
PHP71_FPM_SWOOLE_VERSION=4.3.6
PHP71_FPM_INSTALL_WKHTMLTOPDF=true
PHP71_FPM_INSTALL_ZSH=false

### PHP7.3-fpm ########################################

PHP73_FPM_LOG_PATH=./logs/php7.3-fpm/
PHP73_FPM_INSTALL_XDEBUG=false
PHP73_FPM_INSTALL_XHPROF=true
PHP73_FPM_INSTALL_SWOOLE=false
PHP73_FPM_SWOOLE_VERSION=4.6.3
PHP73_FPM_INSTALL_WKHTMLTOPDF=true
PHP73_FPM_INSTALL_ZSH=false

PHP73_FPM_TMP_PORT=8073

### PHP7.4-fpm ########################################

PHP74_FPM_INSTALL_XDEBUG=false
PHP74_FPM_INSTALL_SWOOLE=true
PHP74_FPM_SWOOLE_VERSION=4.6.4
PHP74_FPM_INSTALL_WKHTMLTOPDF=false
PHP74_FPM_INSTALL_ZSH=false

### PHP7.1-CLI ########################################

PHP71_CLI_INSTALL_XDEBUG=false
PHP71_CLI_INSTALL_SWOOLE=true
PHP71_CLI_SWOOLE_VERSION=2.1.3
PHP71_CLI_INSTALL_WKHTMLTOPDF=true
PHP71_CLI_INSTALL_ZSH=false

PHP71_CLI_TMP_PORT=9071

cqgg_jobs_api_PORT=9991
cqgg_jobs_api_CONTAINER_PORT=9991

### PHP7.4-CLI ########################################

PHP74_CLI_INSTALL_XDEBUG=false
PHP74_CLI_INSTALL_SWOOLE=true
PHP74_CLI_SWOOLE_VERSION=4.6.6
PHP74_CLI_INSTALL_WKHTMLTOPDF=true
PHP74_CLI_INSTALL_ZSH=false

PHP74_CLI_TMP_PORT=9074

hyperf_PORT=9501
hyperf_CONTAINER_PORT=9501

b2c_to_shopify_PORT=9502
b2c_to_shopify_CONTAINER_PORT=9502

industrious_api_PORT=9992
industrious_api_CONTAINER_PORT=9992
